.inicio__contenedor {
  gap: 1rem;
}

.inicio__contenido {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.inicio__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.inicio__social-icon {
  font-size: 1.25rem;
  color: $p-color;
}

.inicio__social-icon:hover {
  color: $p-color-alt;
}

.inicio__blob {
  width: 200px;
  fill: $p-color;
}

.inicio__blob-img {
  width: 170px;
}

.inicio__datos {
  grid-column: 1/3;
}

.inicio__titulo {
  font-size: $texto-grande;
}

.inicio__subtitulo {
  font-size: $h3;
  color: $texto-color;
  font-weight: $fuente-medio;
  margin-bottom: $mb-0-75;
}

.inicio__descripcion {
  margin-bottom: $mb-2;
}

.inicio__scroll {
  display: none;
}

.inicio__scroll-button {
  color: $p-color;
  transition: 0.3s;
}

.inicio__scroll-button:hover {
  transform: translateY(0.35rem);
}

.inicio__scroll-mouse {
  font-size: 2rem;
}

.inicio__scroll-name {
  font-size: $small;
  color: $titulo-color;
  font-weight: $fuente-medio;
  margin-right: $mb-0-25;
}

.inicio__scroll-arrow {
  font-size: 1.25rem;
}

.button {
  display: inline-block;
  background-color: $p-color;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: $fuente-medio;
}

.button:hover {
  background-color: $p-color-alt;
}

.button__icon {
  font-size: 1.25rem;
  margin-left: $mb-0-5;
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: 0.75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: $p-color;
}

.button--link:hover {
  background-color: transparent;
  color: $p-color-alt;
}

.active-link {
  color: $p-color;
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);
}
