/** Media Queries **/
@mixin telefono {
  @media (min-width: #{$telefono}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
    //Fuentes Tamaño .5rem = 8px, 1rem = 16px, 1.5rem =24px...
    $texto-grande: 3rem;
    $h1: 2.25rem;
    $h2: 1.5rem;
    $h3: 1.25rem;
    $normal: 1rem;
    $small: 0.875rem;
    $smaller: 0.813rem;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin grid($columnas) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}
